<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
     	http://www.springframework.org/schema/tx/spring-tx.xsd
     	http://www.springframework.org/schema/aop
     	http://www.springframework.org/schema/aop/spring-aop.xsd
     	http://www.springframework.org/schema/task
     	http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 开启注解扫描 -->
    <context:component-scan base-package="com.waston">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:property-placeholder location="classpath:db.properties" file-encoding="UTF-8"/>

    <!--开启任务注解驱动 -->
    <task:annotation-driven/>

    <!-- 事务管理配置 -->
    <!-- 事务管理器,mybatis使用的是jdbc的管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 事务管理增强
        transaction-manager="transactionManager" :默认的事务管理器名字transactionManage
        所以当配置的事务管理器Bean id = transactionManager时可以不写此属性
    -->
    <tx:advice id="txAdvice">
        <tx:attributes>
            <!--propagation="REQUIRED":如果当前存在事务,那么在当前事务执行,如果没有那么开启一个新的事务环境执行
                默认REQUIRED
            -->
            <tx:method name="find*" read-only="true" rollback-for="Exception" />
            <tx:method name="get*"  read-only="true" rollback-for="Exception" />
            <tx:method name="select*"  read-only="true" rollback-for="Exception" />

            <tx:method name="add*" rollback-for="Exception" />
            <tx:method name="save*" rollback-for="Exception" />
            <tx:method name="create*" rollback-for="Exception" />
            <tx:method name="insert*" rollback-for="Exception" />
            <tx:method name="update*" rollback-for="Exception" />
            <tx:method name="delete*" rollback-for="Exception" />
            <tx:method name="remove*" rollback-for="Exception" />
            <!-- 其它 propagation="SUPPORTS" 如果存在一个事务支持当前事务, 否则非事务执行 -->
            <tx:method name="*" propagation="SUPPORTS" />
        </tx:attributes>
    </tx:advice>
    <!-- aop切面配置 -->
    <aop:config>
        <!-- 切入点表达式 -->
        <aop:pointcut expression="execution(* com.waston.service.*.*(..))" id="pt"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pt"/>
    </aop:config>

    <import resource="spring-mybatis.xml"/>

</beans>